{% extends "base.html" %}

{% block content %}

<h1>Verify your phone number!</h1>

<form method="POST" action=".">
    {% csrf_token %}
    <br><br>
    {% if sent is False %}
    <input type="submit" class="btn btn-info btn-lg" value="Send Verification Code">
    {% else %}
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <input type="text" class="form-control"  name="activation_key">

            <input type="submit" class="btn btn-info btn-lg" value="Verify">
        </div>


    </div>
    {% endif %}
</form>

{% endblock %}